.page2h5css{
    margin-top: 3rem;
    
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
}
.page2pcss{
    text-align: center;
    font-size: 1.9rem;
    margin-left: 5rem;
    margin-right: 5rem;
    line-height:1;
}
.buttonpage2{
    height: 4rem;
    width: 45rem;
    font-size: 20px;
    text-align: left;
    margin-top: 10vh;
    border: 1px solid rgb(99, 98, 98);
    border-radius: 10px;
}
.buttonarrowpage2{
    color: white;
    background-color:rgb(255, 110, 20) ;
    margin-left: 20rem;
    border-radius: 3rem;
}
.buttonarrowpage3{
    color: white;
    background-color:rgb(255, 110, 20) ;
    margin-left: 21.7rem;
    border-radius: 3rem;
}
.buttonarrowpage6{
    color: white;
    background-color:rgb(255, 110, 20) ;
    margin-left: 25.4rem;
    border-radius: 3rem;
}
.buttonarrowpage7{
    color: white;
    background-color:rgb(255, 110, 20) ;
    margin-left: 27.7rem;
    border-radius: 3rem;
}
.buttonarrowpage8{
    color: white;
    background-color:rgb(255, 110, 20) ;
    margin-left: 22rem;
    border-radius: 3rem;
    
}
.buttonarrowpage5{
    color: white;
    background-color:rgb(255, 110, 20) ;
    margin-left: 18.6rem;
    border-radius: 3rem;
}
.buttonarrowpage4{
    color: white;
    background-color:rgb(255, 110, 20) ;
    margin-left: 16.5rem;
    border-radius: 3rem;
}
.buttonpage23{
    height: 4rem;
    width: 45rem;
    font-size: 20px;
    text-align: left;
    
    border: 1px solid rgb(99, 98, 98);
    border-radius: 10px;
}
.imgpic5css{
    width: 13rem;
    margin-left: 5rem;
}
.imgcsspic7{
    width: 8rem;
    color: silver;
    height: 9rem;
    margin-left: 32rem;

    
}