.crousalpage8css{
    text-align: center;
    margin-top: 8rem;
}
.page8cssleft{
    font-size: 1.2rem;
    margin-top: 3rem;
    
}
.page8cssleft125{
    border-bottom: 0.1rem solid black;
    
}
.page8cssleft1{
    margin: 5rem;
}
.page8cssleft2{
    float: left;
    line-height: 1.2rem;
    font-size: 1.5rem;
    font-weight: 600;
}
.page8cssleft3{
    font-size: 2.5rem;
    line-height: 1.2rem;
    color:  rgb(255, 110, 20);
    font-weight: 700;
    
}
.page8cssleft74{
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.2rem;
    
}
.page8cssleft75{
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.2rem;
    color:  rgb(255, 110, 20);
    font-weight: 650;
    margin-bottom: 2.5rem;
   
}
.carausalcol2page8{
    border: 0.1rem solid rgb(207, 184, 158);
    height: 7rem;
    background-color: rgb(207, 184, 158);
    margin-bottom: 2rem;
}
.page8csscol2md3{
    font-size: 1.9rem;
    text-align: center;
    font-weight: 600;
    color:rgb(255, 110, 20) ;
    line-height: 1rem;
    
}
.page8csscol2md31{
    border-right: 0.1rem solid black;
    margin-top: 0.7rem;
    height: 3rem;
    margin: 2rem;
}
.page8csscol2md1{
    line-height: 0.5rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
}
.page8csscol2md312{
    margin-top: 0.7rem;
    height: 3rem;
    margin: 2rem;
}
.page8cssleft745{
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.2rem;
    font-weight: 700;
    color:rgb(255, 110, 20)  ;
}
.page8cssleft7585{
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.2rem;
}